<!DOCTYPE html>
<div class="color">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><strong>About</strong></h1>
   <p> <strong>&nbsp;Hello Dear Customer...! <br>
      <br>      &nbsp; &nbsp; &nbsp; &nbsp;  Welcome to Kitchen Restaurant. From this Restaurant you can order any food Item.<br>
      &nbsp; This organization has started in 2000 May 24. And the Founder of this Restaurant is <br>&nbsp; <strong>Sravani Yarra</strong>.
      &nbsp; Order faviourite food, be Healthy and Stay safe.<br>
       <br>
       <br>
       &nbsp;
       &nbsp;
       &nbsp; &nbsp; &nbsp; &nbsp; From &hearts;,<br>
       &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Kitchen Restaurant
    </strong></p>  
</body>
</html>
</div>




