<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><strong>&hearts; Welcome Admin &hearts;</strong></h1>
    <div class="margin">
        <button routerLink="/admin"  class="btn btn-success">View Admin Details</button><br>
        <button routerLink="/customer" class="btn btn-danger">View Customer Details</button><br>
        <button routerLink="/addnew" class="btn btn-primary">Add New Product</button>
        </div>
    
</body>
</html>
