.input-group{
    margin-top: 2%;
    margin-left: 70%;
    width: 400px;
   
  }
  .btn-primary{
    margin-left: 90%;
  }
  .modal-title{
    text-align: center;
}
h1{
    text-align: center;
    margin: auto;
    color: brown;
}
.btn-success{
  width: auto;
  display: flex;
  margin-left: auto;
  margin-top: 2px;
}
body {
 
  
  height: 100vh;
  width: 100%;
 
}

