.navbar
{
    background-color: brown;
}
.btn{
    background-color: rgb(203, 163, 19);
    border-color: rgb(203, 163, 19);
    border-radius: 8px;
}
.num{
    background-color: brown;
    border-color: brown; 
}
.badge{
    color: aquamarine;
}
a{
    text-align:start;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    align-self: start;
}
.search-icon{
    position: absolute;
    z-index: 10;
    right:8%;
}
.navbar-brand{
    margin:auto;
}
svg{
    cursor: pointer;
}
.form-control{
    border-radius: 3px;
    width:600px;
}
